:root {
  --def-padding: 2.5vh 2.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*::before,
*::after {
  margin: inherit;
  padding: inherit;
}

body {
  margin: 0;
}

main {
  padding: var(--def-padding);

  section {
    padding-block: 1.5rem;
    --border: solid #add8e6 2px;
    border-inline: var(--border);
    border-block-start: var(--border);
    padding-inline: 1.2rem;

    &:last-child {
      border-block-end: var(--border);
    }

    time {
      display: block;
      color: #3763db;
    }

    img {
      max-width: 65vw;
    }
  }
}

nav.pages {
  display: flex;
  gap: 1em;
  padding: var(--def-padding);
}

header {
  background-color: #efbb76;
  padding: 4vh 2vw 0.5rem;
}

h2,
p {
  margin-block-start: 0;
}

.js-code {
  background-color: #000;
  color: #fff;

  .syntax-yellow {
    color: #dada33;
  }

  .syntax-purple
  {
    color:#b551d3;
  }

  .syntax-blue
  {
    color:#3763db;
  }

  .syntax-cyan
  {
    color:#00ccff;
  }

  .syntax-grey
  {
    color:#666666;
  }
}
